*{
    padding: 0;
    margin: 0;
    border: 0;
    
}

.results-list {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #f57c01 ;
    border: 10px;
    position: absolute;
    margin-left: 50%;
    margin-top: 0;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 1;
}

.each-result {
    background-color: #f69040;
    border: none;
    text-decoration: none;
    color: black;
    padding: 0.2em;
    margin: 0.2em;
}